
<table width="800px" border="0" align="center">
  <tr>
    <td width="1%" align="center"><strong>
      <bx_text:_goesi_fb_run />
    </strong></td>
	<td width="1%" align="center"><strong>
      <bx_text:_goesi_fb_id />
    </strong></td>
    <td width="60%" align="center"><strong>
      <bx_text:_goesi_fb_url />
    </strong></td>
     <td width="20%" align="center"><strong>
     <bx_text:_goesi_fb_last_job />
    </strong></td>
    <td width="5%" align="center"><strong>
     <bx_text:_goesi_fb_last_links />
    </strong></td>
    <td width="10%" align="center"><strong>
      <bx_text:_goesi_fb_import_im />
    </strong></td>
    <td width="10%" align="center"><strong>
      <bx_text:_goesi_fb_delete />
    </strong></td>
  </tr>
__newurls__
</table><br><center><bx_text:_goesi_fb_addurl /><form action="" method="post"><input name="addurl" type="text" size="60">&nbsp;<input type="submit" value="<bx_text:_goesi_fb_save />"></form></center><br>
<div align="right"><form action="" method="post"><input name="cookie" type="hidden"><input type="submit" value="<bx_text:_goesi_fb_sync_all />" style="width: 10em"></form></div>

 __alle__ __all__
<br><br>
<center><bx_text:_goesi_fb_accept_app /></center>